.naglowek {
    justify-content: center;
}

.naglowekProj {
	width: 100%;
	height: 35px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.naglowekProj span {
	vertical-align: middle;
}

span {
    padding: 1em
}

footer {
    background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 0 0.5em rgb(38,38,38);
}

section.wizki img {
	width: 61.8%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0;
}

ul {
    border: none;
}

section.wizki img.wizkaTop {
	padding-top: 7em;
}

h1.projStopka {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

.logo {
	height: 1.5em;
	width: auto;
}

#topButton {
    bottom: 80px;
}



/* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON */




.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 16px 36px;
	border: none;
	border-left: 1px solid rgb(218,218,218);
	background-color: transparent;
	color: rgb(218,218,218);
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#strona-glowna {
	border-right: 1px solid rgb(218,218,218);
}

#next-projekt {
	border-left: 1px solid rgb(218,218,218);
}

.animated-button svg {
	position: absolute;
	width: 24px;
	fill: rgb(218,218,218);
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
	right: 16px;
}

.animated-button .arr-2 {
	left: -25%;
}

#strona-glowna .arr-1,
#strona-glowna .arr-2 {
	rotate: 180deg;
}

.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: rgba(218,218,218,0.75);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button a {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.text {
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 0.3em;
	text-decoration: none;
	text-transform: uppercase;
}

.animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: rgb(38,38,38);
	border-radius: 12px;
}

.animated-button:hover .arr-1 {
	right: -25%;
}

.animated-button:hover .arr-2 {
	left: 16px;
}

.animated-button:hover a {
	transform: translateX(12px);
}

.animated-button:hover svg {
	fill: rgb(38,38,38);
}

.animated-button:active {
	scale: 0.95;
	box-shadow: 0 0 0 4px rgb(218,218,218);
}

.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}
