section img {
	width: calc(305px*1.0);
	height: calc(424px*1.0);
}

h3 {
	font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-align: justify;
	font-weight: lighter;
    line-height: 1.15em;
	color: rgb(218,218,218);
}

ul {
    list-style: none;
    width: calc(950px*0.618);
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(38,38,38);
}

li {
    font-size: 22pt;
    line-height: 1.15em;
	color: rgb(218,218,218);
    margin-bottom: 15px;
}

ul img {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    vertical-align: middle;
}

body {
    background-color: rgb(38,38,38);
}

section {
    background-color: inherit;
}

.mnietlo {
    width: 950px;
    margin: 0 auto;
    padding: 30px;
    display: flex;   
    justify-content: space-between;
    height: 100%;
}

.klikajki a {
	border: 1px solid rgb(38,38,38);
    border-bottom: none;
    font-weight: 100;
    color: rgb(38,38,38)
}

.klikajki a:hover,
.klikajki a:focus,
.klikajki a.currentKlikajka {
	color: white;
	background: rgb(38,38,38);
	font-weight: bolder;
	border-color: none;
}

.opis {
	margin: 0;
    padding: 30px;
    padding-right: 0;
}

footer.stopkav2 {
	background-color: none;
	background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(218, 218, 218, 1) 40%);
}
