section img {
	width: calc(305px*0.91);
	height: calc(424px*0.91);
}

h3 {
	font-weight: 200;
    font-style: normal;
    font-size: 15pt;
    text-align: justify;
	font-weight: 200;
    word-spacing: 0.3em;
    line-height: 1.3em;
	color: rgb(102,102,102);
}

.opis {
	margin: 0;
    padding: 30px;
    padding-right: 0;
}

ul {
    list-style: none;
    width: 61.8%;
    margin: 0 auto;
    padding: 30px 0;
}

li {
    margin-bottom: 1em;
	font-weight: 400;
    font-style: normal;
    font-size: 10pt;
	font-weight: 200;
    letter-spacing: 0.1em;
	color: rgb(218,218,218);
}

ul img {
    width: 32px;
    height: auto;
    margin-right: 1em;
    vertical-align: middle;
}

body {
    background-color: rgb(38,38,38);
}

section {
    background-color: inherit;
}

.mnietlo {
    width: 61.8%;
    margin: 0 auto;
    padding-top: 163px;
    display: flex;   
    justify-content: space-between;
}

.klikajki a {
	border: 1px solid rgb(38,38,38);
    border-bottom: none;
    font-weight: 100;
    color: rgb(38,38,38)
}

.klikajki a:hover,
.klikajki a:focus,
.klikajki a.currentKlikajka {
	color: white;
	background: rgb(38,38,38);
	font-weight: bolder;
	border-color: none;
}

footer.stopkav2 {
	background-color: none;
	background: linear-gradient(0deg,rgba(218, 218, 218, 0) 0%, rgba(218, 218, 218, 0) 100%);
}

footer.stopkav2 p {
    width: 61.8%;
    border-top: 1px solid rgb(218,218,218);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
}
