.naglowek {
    justify-content: center;
}

.naglowekProj {
	width: 100%;
	height: 35px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.naglowekProj a {
	display: inline-block;
	margin: 1em 2em;
	padding: 0;
	text-decoration: none;
	letter-spacing: 1px;
    color: rgb(218,218,218);
}

.naglowekProj span.right a {
	right: 0;
    border-left: 1px solid rgb(38,38,38);
}

.naglowekProj a:hover,
.naglowekProj a:focus {
	color: rgb(38,38,38)
}

.naglowekProj span {
	vertical-align: middle;
}

.strona-glowna {
    border-right: 1px solid rgb(38,38,38);
}

span {
    padding: 1em
}

footer {
    background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 0 0.5em rgb(38,38,38);
}

section.wizki img {
	width: 61.8%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0;
}

ul {
    border: none;
}

section.wizki img.wizkaTop {
	padding-top: 7em;
}

h1.projStopka {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

.logo {
	height: 1.5em;
	width: auto;
}

#topButton {
    bottom: 80px;
}