article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}

html{font-family:Arial;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}

a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}

h1 {
	font-family: "Zalando Sans SemiExpanded", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	color: rgb(38,38,38)
}

h4 {
	font-weight: 200;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: rgb(38,38,38);
}

.logo {
	height: 3em;
	width: auto;
	vertical-align: middle;
	margin-left: 1em;
}

.nawigacja {
	padding: 1em 0;
	background-color: white;
	background: linear-gradient(180deg,rgba(255, 255, 255, 1) 65%, rgba(218, 218, 218, 1) 89.9%, rgba(255, 255, 255, 1) 90%);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.naglowek {
	display: flex;
	justify-content: space-between;
	width: 61.8%;
    margin: 0 auto;
}

a {
	color: rgb(38,38,38);
	text-decoration: none;
}

.klikajki {
	text-align: center;
}

.klikajki a {
	display: inline-block;
	margin: 0 10px;
	padding: 1em 1.5em;
	color: rgb(38,38,38);
}

.klikajki a:hover,
.klikajki a:focus {
	color: rgb(38,38,38);
	font-weight: bolder;
}

footer p {
    font-size: 8pt;
	font-weight: lighter;
	color: rgb(102,102,102);
    display: flex;
    justify-content: center;
	margin: 0;
	padding: 0;
}

footer {
	background-color: white;
    margin: 0 auto;
	padding: 0.61em 0;
}

section.siatka {
	padding-top: 9em;
	list-style: none;
	text-align: center;
	width: 61.8%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 auto;
}

.menuProjekty {
    position: relative; /* tytuły na liscie */
	float: left;
	overflow: hidden;  /* widocznosc wjazdu poza ramkami */
	margin: 0;
	padding: 1em 0;
    max-width: calc(1.4*16em);
	max-height: calc(1.4*10em);
	text-align: center;
}

.siatka figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	filter: grayscale(100%);
}

.siatka figure figcaption {
	padding: 2em;
	color: rgb(38,38,38);  /* kolory napisow */
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.siatka figure figcaption::before,
.siatka figure figcaption::after {
	pointer-events: none;
}

.siatka figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.siatka figure h2 {
	word-spacing: 0.2em;
	font-weight: 100;
	color: white;
	text-shadow: 0 0 1em rgba(38,38,38,0.5);
}

.siatka figure h2 span {
	font-weight: 750;
}

.siatka figure p {
	letter-spacing: 0.1em;
	font-size: 61%;
	color: white;
}

figure.menuProjekty img {
	opacity: 0.2;  /* przeswit przed najechaniem */
	-webkit-transition: opacity 3s;
	transition: opacity 3s;
}

figure.menuProjekty h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: color 0.5s;
}

figure.menuProjekty p {
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.menuProjekty:hover h2 {
	color: rgb(38,38,38);
	text-shadow: none;
}

figure.menuProjekty:hover figcaption::before,
figure.menuProjekty:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.menuProjekty:hover img {
	opacity: 60%;
	filter: grayscale(0%);
	transition: filter 2s;
	-webkit-transition: filter 2s;
}








/* oMnie *//* oMnie *//* oMnie *//* oMnie *//* oMnie *//* oMnie *//* oMnie *//* oMnie *//* oMnie */

.oMnieTlo {
    width: 61.8%;
    margin: 0 auto;
	margin-top: 3em;
    background-color: rgb(38,38,38);
	padding: 1em 0;
}

.oMnie {
	width: 61.8%;
    margin: 0 auto;
	padding-bottom: 1.2em;
    display: flex;   
    justify-content: space-between;
}

.mojaFota {
	width: 8em;
	height: 8em;
	border-radius: 50%;
	opacity: 0.5;
}

h3 {
	font-weight: 100;
    font-size: 0.8em;
    text-align: justify;
    word-spacing: 0.4em;
    line-height: 1.3em;
	color: rgb(102,102,102);
	margin: 0;
	padding: 1em 0;
    padding-left: 2em;
}

ul {
    width: 61.8%;
    margin: 0 auto;
    list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

li {
	font-weight: 400;
    font-style: normal;
    font-size: 1em;
	font-weight: 200;
    letter-spacing: 0.1em;
	color: white;
}

ul img {
    width: 2em;
    height: auto;
    margin-right: 0.75em;
    vertical-align: middle;
}

@media screen and (max-width: 50em) {
	section.siatka {
		display: column
	}
}
