article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}

html{font-family:'Arial Narrow';-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}

a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}

h1{font-size:56pt;margin: 0;color: rgb(38,38,38)}
h2 {font-family:Arial;font-size: 20pt;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid rgb(218,218,218);margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	background: white;
	font-weight: 400;
	font-size: 1em;
}

a {
	color: rgb(38,38,38);
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}


.content {
	margin: 0 auto;
	max-width: 1000px;
}

.siatka {
	display: block;
	padding: 0;
	padding-top: 30px;
	height: 1500px;
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: rgb(102,102,102);
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}

h6 {
	font-size: 12pt;
	display: flex;
	font-weight: lighter;
 	font-family: Arial;
	color: rgb(102,102,102);
	margin: 0;
	justify-content: space-between;
}

footer {
	margin: 0;
	padding: 10px 100px;
	background-color: rgb(218,218,218);
}

.aktualizacja {
	font-size: 10pt;
}

/* Header */
.codrops-header {
	margin: 0 auto;
	padding: 15px 0;
	padding-bottom: 0;
	text-align: center;
	background-color: white;
	background: linear-gradient(180deg,rgba(255, 255, 255, 1) 65%, rgba(218, 218, 218, 1) 100%);
}

.codrops-header h1 span {
	display: block;
	color: rgb(102,102,102);
	font-weight: 300;
	font-size: 30%;
}

/* Demo links */
.codrops-demos {
	padding: 1em 0 0;
	text-align: center;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 5px;
	padding: 1em 1.5em;
	font-weight: bold;
	color: white;
}

.codrops-demos a:hover,
.codrops-demos a:focus,
.codrops-demos a.current-demo {
	color: rgb(38,38,38);
	background: white;
	font-weight: bolder;
	border: rgb(38,38,38), solid, 3px;
	border-bottom: none;
}
/* MING */

.grid {
	position: static;
	clear: both;
	margin: 0 auto;  /* wysrodkowanie */
	padding: 1em 0 4em;
	padding-top: 0;
	max-width: 1000px;  /* max szerokosc dla elementow razem */
	list-style: none;
	text-align: center;
	justify-content: space-around;
}

/* Common style */
.grid figure {
	position: relative; /* tytuły na liscie */
	float: left; /* od której zaczynaja sie projekty */
	overflow: hidden;  /* widocznosc wjazdu poza ramkami */
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.1;
}

.grid figure figcaption {
	padding: 2em;
	color: rgb(38,38,38);  /* kolory napisow */
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: 0.2em;
	font-weight: 100;
}

.grid figure h2 span {
	font-weight: 750;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 80%;
	color: rgb(218,218,218);
	font-weight: lighter;
	background-color: rgba(38,38,38,0.75);
	padding: 10px;
	margin: 1.5px;
}

/* ^ SIATKA ^ */
/* v MING v */

figure.effect-ming {
	margin: 0.5em;
	background: white;
}

figure.effect-ming img {
	opacity: 0.1;  /* przeswit przed najechaniem */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-bottom: 5px solid rgb(38,38,38);
	box-shadow: 0 0 0 30px white; /* ramka po zoomie */
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover img {
	opacity: 65%;
}

@media screen and (max-width: 50em) {
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}