html {
	font-family: 'Inter', sans-serif;
	font-weight: 100;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
	margin: 0;
	background-color: transparent;
}

h1 {
	font-weight: 1000;
	font-style: normal;
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	color: rgb(38,38,38);
	letter-spacing: 0.1em;
}

h4 {
	font-weight: 600;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: rgb(38,38,38);
}

.logo {
	fill: rgb(38,38,38);
	height: 3em;
	width: auto;
	vertical-align: middle;
	margin-left: 1em;
}

.nawigacja {
	padding: 1em 0;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 0 0.5em rgb(38,38,38);
}

.naglowek-glowny {
	display: flex;
	justify-content: space-between;
	width: 61.8%;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

.klikajki {
	text-align: center;
}

.klikajki a {
	display: inline-block;
	margin: 0 10px;
	padding: 0 1.5em;
	color: rgb(218,218,218);
}

.klikajki a:hover,
.klikajki a:focus {
	color: rgb(38,38,38);
}

footer {
	margin-top: 3em;
	padding: 0;
}

ul {
    width: 61.8%;
    margin: 0 auto;
    list-style: none;
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgb(38,38,38);
}

li {
    font-size: 1em;
	font-weight: 600;
    letter-spacing: 0.1em;
	color: rgb(38,38,38)
}

ul img {
    width: 2em;
    height: auto;
    margin-right: 0.75em;
    vertical-align: middle;
}

#topButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	border-left: 1px solid rgb(38,38,38);
	outline: none;
	color: rgb(102,102,102);
	cursor: pointer;
	padding: 15px;
	font-size: 0.9em;
	font-weight: 600;
	text-transform: uppercase;
	background-color: white;
	letter-spacing: 1px;
    color: rgb(218,218,218);
}

#topButton:hover {
	color: rgb(38,38,38);
}


/* SIATKA *//* SIATKA *//* SIATKA *//* SIATKA *//* SIATKA *//* SIATKA *//* SIATKA *//* SIATKA *//* SIATKA */


section.siatka {
	padding-top: 7em;
	list-style: none;
	text-align: center;
	width: 61.8%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 auto;
	
}

.menuProjekty {
    position: relative; /* tytuły na liscie */
	float: left;
	overflow: hidden;  /* widocznosc wjazdu poza ramkami */
	margin: 0;
	padding: 1em 0;
    max-width: calc(1.4*16em);
	max-height: calc(1.4*10em);
	text-align: center;
	cursor: pointer;
}

.siatka figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	filter: grayscale(100%);
}

.siatka figure figcaption {
	padding: 2em;
	color: rgb(38,38,38);  /* kolory napisow */
	text-transform: uppercase;
	font-size: 1.25em;
	border-bottom: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.siatka figure figcaption::before,
.siatka figure figcaption::after {
	pointer-events: none;
}

.siatka figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.siatka figure h2 {
	font-family: Arial, sans-serif;
	font-size: 1em;
	word-spacing: 0.2em;
	font-weight: 100;
	color: white;
	text-shadow: 0 0 1em rgba(38,38,38,0.5);
}

.siatka figure h2 span {
	font-weight: 600;
}

.siatka figure p {
	font-family: Arial, sans-serif;
	letter-spacing: 0.1em;
	font-size: 61%;
	color: white;
}

figure.menuProjekty img {
	opacity: 0.2;  /* przeswit przed najechaniem */
	-webkit-transition: opacity 3s;
	transition: opacity 3s;
}

figure.menuProjekty h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: color 0.5s;
}

figure.menuProjekty p {
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.menuProjekty:hover h2 {
	color: rgb(38,38,38);
	text-shadow: none;
	transition: color 0.5s;
}

figure.menuProjekty:hover figcaption::before,
figure.menuProjekty:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.menuProjekty:hover img {
	opacity: 60%;
	filter: grayscale(0%);
	transition: filter 2s;
	-webkit-transition: filter 2s;
}

@media screen and (max-width: 50em) {
	section.siatka {
		grid-template-columns: 95%;
	}
}



/* KoloryPaskow *//* KoloryPaskow *//* KoloryPaskow *//* KoloryPaskow *//* KoloryPaskow */


.siatka figure figcaption:hover {
	border-bottom: 5px solid;
}


#I figcaption:hover {
	border-color: red;
}
#II figcaption:hover {
	border-color: purple;
}
#III figcaption:hover {
	border-color: orange;
}
#IV figcaption:hover {
	border-color: blue;
}
#V figcaption:hover {
	border-color: yellow;
}
#VI figcaption:hover {
	border-color: green;
}
#VII figcaption:hover {
	border-color: black;
}
#VIII figcaption:hover {
	border-color: magenta;
}
#IX figcaption:hover {
	border-color: cyan;
}




.nowe-okno {
	display: block;
	background-color: rgba(38,38,38,0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}

.okno-projekt {
	width: 85%;
	background-color: white;
	margin: 6.5em auto;
	padding-bottom: 2em;
	border-radius: 30px;
	box-shadow: 0.5em 0.5em 2em rgb(38,38,38);
}

.navi-projekt {
	margin:0;
	padding: 0.8em 0;
	background: transparent;
	background: linear-gradient(180deg, transparent 85%, rgb(218, 218, 218) 100%);
}

.exit {
	position: fixed;
	right: 3em;
}

.exit .button {
  display: block;
  position: relative;
  width: 4em;
  height: 4em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.exit .button:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  transition:
    opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.exit .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 3px solid red;
  transform: scale(1.3);
  opacity: 0;
}

.exit .button:hover:before,
.exit .button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition:
    opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.exit .button:hover:after,
.exit .button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-elem svg {
	width: 1em;
	height: 1em;
}

.naglowek {
    justify-content: center;
}

.naglowekProj {
	width: 100%;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.8em;
    display: flex;
    justify-content: space-between;
	padding-top: 0;
}

.naglowekProj span {
	vertical-align: middle;
}

span {
    padding: 1em
}

.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 0 4em;
	border: none;
	background-color: transparent;
	color: rgb(218,218,218);
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#previous-projekt {
	border-right: 1px solid rgb(218,218,218);
}

#next-projekt {
	border-left: 1px solid rgb(218,218,218);
}

.animated-button svg {
	position: absolute;
	width: 24px;
	fill: rgb(218,218,218);
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
	right: 16px;
}

.animated-button .arr-2 {
	left: -25%;
}

#previous-projekt .arr-1,
#previous-projekt .arr-2 {
	rotate: 180deg;
}

.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: rgba(218,218,218,0.75);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button a {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.text {
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 0.3em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
}

.animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: rgb(38,38,38);
	border-radius: 12px;
}

.animated-button:hover .arr-1 {
	right: -25%;
}

.animated-button:hover .arr-2 {
	left: 16px;
}

.animated-button:hover a {
	transform: translateX(12px);
}

.animated-button:hover svg {
	fill: rgb(38,38,38);
}

.animated-button:active {
	scale: 0.95;
	box-shadow: 0 0 0 4px rgb(218,218,218);
}

.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}

section.wizki {
	border-radius: 30px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.wizki img {
	width: 49.55%;
	height: auto;
	margin: 0;
	padding: 0;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-item {
	color: rgba(218,218,218,0.75);
	margin: 0.8em 0.4em;
	border: 3px solid transparent;
	border-radius: 5%;
	width: 180px;
	background-color: white;
	filter: grayscale(100%);
	box-shadow: 0.3em 0.3em 2em rgb(38,38,38);
}

.gallery-item img {
	width: 100%;
	height: auto;
	border-radius: 5%;
	opacity: 0.75;
}

.gallery-item div.desc {
	font-size: 0.8em;
	font-weight: 600;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	color: rgb(38,38,38);
}

.gallery-item:hover {
	border: 3px solid rgb(38,38,38);
	filter: grayscale(0%);
	opacity: 1;
	transition: filter 1s, opacity 1s;
}

