article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}

html{font-family:Arial;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}

a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}

h1 {
	font-family: "Zalando Sans SemiExpanded", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 34pt;
	margin: 0;
	padding: 0;
	color: rgb(38,38,38)
}

h4 {
	font-weight: 200;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	color: rgb(38,38,38);
}

.logo {
	width: calc(0.23*234px);
	height: auto;
	vertical-align: middle;
	margin-left: 15px;
}

.nawigacja {
	padding: 15px 0;
	padding-bottom: 0;
	background-color: white;
	background: linear-gradient(180deg,rgba(255, 255, 255, 1) 65%, rgba(218, 218, 218, 1) 100%);
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 15px;
	z-index: 1000;
}

.naglowek {
	display: flex;
	justify-content: space-between;
	width: 61.8%;
    margin: 0 auto;
}

a {
	color: rgb(38,38,38);
	text-decoration: none;
}

.klikajki {
	text-align: center;
}

.klikajki a {
	display: inline-block;
	margin: 0 5px;
	padding: 1em 1.5em;
	font-weight: normal;
	color: rgb(38,38,38);
}

.klikajki a:hover,
.klikajki a:focus,
.klikajki a.currentKlikajka {
	color: rgb(38,38,38);
	background: white;
	font-weight: bolder;
	border: rgb(38,38,38), solid, 3px;
	border-bottom: none;
}

footer p {
    font-size: 8pt;
	font-weight: lighter;
	color: rgb(102,102,102);
    display: flex;
    justify-content: center;
}

footer {
    width: 61.8%;
    border-top: 1px solid rgb(102,102,102);
	background-color: white;
    margin: 0 auto;
    margin-top: 2em;
}

section.siatka {
	padding-top: 100px;
	list-style: none;
	text-align: center;
}

section.siatka {
    width: 61.8%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
}

.menuProjekty {
    position: relative; /* tytuły na liscie */
	overflow: hidden;  /* widocznosc wjazdu poza ramkami */
	margin: 0;
    max-width: 500px;
	max-height: 357px;
    min-height: 357px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.siatka figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1; /* ZMIENIĆ NA 0.1 */
}

.siatka figure figcaption {
	padding: 2em;
	color: rgb(38,38,38);  /* kolory napisow */
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}



/* XXX */





.siatka figure figcaption::before,
.siatka figure figcaption::after {
	pointer-events: none;
}

.siatka figure figcaption,
.siatka figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.siatka figure h2 {
	word-spacing: 0.2em;
	font-weight: 100;
}

.siatka figure h2 span {
	font-weight: 750;
}

.siatka figure h2,
.siatka figure p {
	margin: 0;
}

.siatka figure p {
	letter-spacing: 0.1em;
	font-size: 80%;
	color: white;
	font-weight: lighter;
	background-color: rgba(38,38,38,0.75);
	padding: 10px;
	margin: 1.5px;
}

/* ^ SIATKA ^ */
/* v MING v */

figure.menuProjekty {
	background: white;
}

figure.menuProjekty img {
	opacity: 0.1;  /* przeswit przed najechaniem */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.menuProjekty figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-bottom: 10px solid rgb(38,38,38);
	box-shadow: 0 0 0 30px white; /* ramka po zoomie */
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.menuProjekty h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.menuProjekty p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.menuProjekty:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.menuProjekty:hover figcaption::before,
figure.menuProjekty:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.menuProjekty:hover img {
	opacity: 65%;
}

@media screen and (max-width: 50em) {
	.siatka figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 95%;
	}
}

.klikajki-projekty {
	width: 100%;
	height: 35px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10pt;
}

.klikajki-projekty a {
	display: inline-block;
	margin: 1em 2em;
	padding: 0;
	text-decoration: none;
	letter-spacing: 1px;
}

.klikajki-projekty span.right {
	float: right;
}

.klikajki-projekty span.right a {
	display: block;
	float: left;
}

.klikajki-projekty a:hover,
.klikajki-projekty a:focus {
	font-size: 9pt;
	font-weight: 800;
}

.klikajki-projekty img {
	width: 20px;
	height: auto;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 2px;
	vertical-align: middle;
}

.klikajki-projekty img.pr-strz {
	rotate: 180deg;
	margin-right: 0px;
	margin-left: 10px;
}

.klikajki-projekty span {
	vertical-align: middle;
}

section.tytulProjektu {
	margin: 15px auto;
}

section.wizki img {
	width: 61.8%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0;
}

section.wizki img.wizkaTop {
	padding-top: 100px;
}
